%h1
  Contact
= form_tag(:make_contact_pages, :class => 'contact') do
  = raw negative_captcha(@captcha)
  %p.error
    = flash[:error]

  .form-row
    = negative_label_tag(@captcha, :name, 'Name:')
    = negative_text_field_tag @captcha, :name
  .form-row
    = negative_label_tag(@captcha, :email, 'Email:')
    = negative_text_field_tag @captcha, :email
  .form-row
    = negative_label_tag(@captcha, :message, 'Message:')
    = negative_text_area_tag @captcha, :message
  .form-row
    = submit_tag "Send"