%h1
  Contact
= form_tag(:pages_make_contact, :class => 'contact') do
  = raw negative_captcha(@captcha)

  .left-side
    = negative_label_tag(@captcha, :name, 'Name:')
  .right-side
    = negative_text_field_tag @captcha, :name
  .nofloat
  .left-side
    = negative_label_tag(@captcha, :email, 'Email:')
  .right-side
    = negative_text_field_tag @captcha, :email
  .nofloat
  .left-side
    = negative_label_tag(@captcha, :message, 'Message:')
  .right-side
    = negative_text_area_tag @captcha, :message
  .nofloat
  .right-side
    = submit_tag "Send"