!!! 5
%html
  %head
    %title
      Edible Systems - Bespoke Software Solutions
    = csrf_meta_tags
    = render 'layouts/includes'
    <meta name="description" content="Offering custom development of .NET or Ruby on Rails web applications. Experienced contractor based out of Edmonton, Alberta, Canada." />
    <meta name="keywords" content=".NET, Ruby on Rails, hire, contract, developer, web, application" />
  %body
    %header
      = render 'layouts/header'

    .top-left

    .content
      = yield

    .nofloat
    .bottom-right
    .nofloat

    %footer
      = render 'layouts/footer'
