!!! 5
%html
  %head
    %title
      Edible Systems
    = csrf_meta_tags
    = render 'layouts/includes'
  %body
    %header
      = render 'layouts/header'
    %section.content
      = yield
    %footer
      = render 'layouts/footer'
    = debug(params) if Rails.env.development? 