!!! 5
%html
  %head
    %title
      Edible Systems
    = csrf_meta_tags
    = render 'layouts/includes'
  %body
    %header
      = render 'layouts/header'

    .top-left

    .content
      = yield

    .nofloat
    .bottom-right
    .nofloat

    %footer
      = render 'layouts/footer'
